html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(45deg, #fff, #fff);
    overflow-x: hidden;
}

h1, h2, .logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

p, body {
    font-family: 'Raleway', sans-serif;
}

@keyframes blink {
    0%, 100% {
      opacity: 1; /* Totalmente visível */
    }
    50% {
      opacity: 0; /* Invisível */
    }
  }
  
  h3 {
    animation: blink 1s infinite; /* Define a animação "blink" */
  }

header.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(180deg, #ffc4e8, #fff,#fff, #76cced);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

header img {
width: 300;
height: 300px;
transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.7);
}


/* Estilo básico dos ícones */
.header-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.header-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

/* Efeito hover nos ícones */
.header-icons img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px #76cced);
}


/* Animação de brilho */
.glowing {
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #76cced);
    }
    50% {
        filter: drop-shadow(0 0 15px #76cced) drop-shadow(0 0 30px #76cced);
    }
    100% {
        filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #76cced);
    }
}



.title {
    font-size: 3em;
    animation: fadeIn 2s;
}

.subtitle {
    font-size: 1.5em;
    margin-top: 10px;
    animation: fadeIn 3s;
}

main {
    padding: 50px 20px;
    background-color: #fff;
    color: #000000;
    text-align: center;
}

section {
    margin: 50px 0;
}

section p {
    text-align: justify;
}

section.catalogue {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    background: linear-gradient(
        180deg, 
        #ffc4e8,
        #fff,
        #fff, 
        #76cced
      
    ); /* Gradiente horizontal mais suave */
}

section.catalogue img{
    transition: transform 0.3s ease;
    width: 600px;
    padding: 40px;
}

section.catalogue img:hover {
    transform: scale(1.1); /* Amplia a imagem suavemente */
}

@keyframes glow-effect {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* Responsividade */
@media screen and (max-width: 768px) {
    section.catalogue {
        padding: 20px; /* Reduz padding em telas menores */
    }

    section.catalogue img {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    section.catalogue {
        padding: 10px; /* Ajuste ainda mais para telas pequenas */
    }
}

.catalogue-wpp img {
    max-width: 800px;
    height: auto;
    transition: transform 0.3s ease;
}

.catalogue-wpp img:hover {
    transform: scale(1.5); /* Amplia a imagem suavemente */
}

@media (max-width: 768px) {
    .catalogue-wpp img {
        width: 300px;
        }
}

@media (max-width: 768px) {
    .catalogue-wpp img:hover {
        transform: scale(1.1);
    }
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.1);
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
}

form button {
    background-color: #2575fc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1a5bb8;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #76cced;
    color: #fff;
}

footer img {
width: 60px;
height: 60px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    border-radius: 50%;
    background: linear-gradient(180deg, #f37ac5, #fff, #5ac8f3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: float-glow 2s infinite;
}

.whatsapp-float img {
    width: 60px;
    height: 60px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

/* Animação de brilho */
@keyframes float-glow {
    
    50% {
        box-shadow: 0 0 15px #fa66c1, 0 0 30px #fa66c1;
    }
    100% {
        box-shadow: 0 0 35px #00b4fc, 0 0 70px #00b4fc;
    }
}

.ourjob {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    color: #333;
}

.carousel {
    position: relative;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a área visível */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    gap: 10px;
    transition: transform 1s ease-in-out; /* Animação suave na transição */
    will-change: transform; /* Melhora o desempenho */
}

.carousel img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    user-select: none; /* Impede a seleção acidental de imagens */
    pointer-events: none; /* Melhora a experiência ao deslizar */
}

.depoimentos-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas no desktop */
    gap: 5px; /* Espaço entre os cartões */
    width: 100%; /* Garante que o slider ocupe toda a largura */
    transition: transform 0.5s ease-in-out;
}

.depoimento-card {
    background: linear-gradient(180deg, #ffc4e8, #fff, #fff, #76cced);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Inclui bordas e padding no cálculo da largura */
    transition: transform 0.3s ease;
}

.depoimento-card:hover {
    transform: scale(1.2);
}

.depoimento-nome {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    margin: 0; /* Remove margens extras */
}

.depoimento-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #76cced;
    object-fit: cover;
    margin-bottom: 10px; /* Espaço entre a imagem e o nome */
}

.depoimento-text {
    flex-grow: 1; /* Ocupa o espaço restante no card */
    font-size: 1em;
    font-style: italic;
    margin-bottom: 20px; /* Espaçamento entre o texto e os elementos inferiores */
    color: #333;
    text-align: center;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .depoimentos-slider {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas no mobile */
        grid-template-rows: repeat(2, auto); /* 2 linhas no mobile */
        gap: 15px; /* Espaço ajustado para telas menores */
    }

    .depoimento-card {
        padding: 15px; /* Ajusta o padding no mobile */
    }
}

.contact-us img {
    width: 800px;
    height: auto;
    justify-content: center;
    transition: transform 0.3s ease;
    padding: 0.3em;
}

.contact-us img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .contact-us img {
        width: 300px;
        }
}

@media (max-width: 768px) {
    .contact-us img:hover {
        transform: scale(1.1);
    }
}